.second-card{
    background-color: #222d3a;
    color: #ffffff;
    font-family:'sans-serif';
    text-align: center;
    flex-wrap: wrap;
    width: 100vw;
}
.second-heading{
    font-family: 'sans-serif';
    font-size: 26px;
    margin-left: 10px;
}
@media (max-width:480px){
.second-heading{
    font-family: 'Roboto';
    font-size: 16px;
}
}

.button-2{
    color: white;
    background-color:hsl(32, 76%, 55%);
    height:max-content;
    border-radius: 12px;
    height: 34px;
    margin:20px;
    border-width: 0px;
    transition: all 200ms;
}
.button-2:hover{
    transform: scale(1.05);
    background-color: #f58c14;
}

.image1{
    width: 100vw;
    
}
p{
    text-align: center;
    font-size: medium;
    font-family: 'Roboto';
    font-weight: 500;
}
.seconds-description{
    color:white;
    padding-top: 14px;
    padding-bottom: 14px;
}